body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #141313;
  color: #fff;
}

/* ===== NAVBAR ===== */
.navbar {
  background: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  border-bottom: 2px solid #fff;
}

.logo img {
  width: 120px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 500;
}

.menu a:hover {
  text-decoration: underline;
}

/* ===== PANEL PRINCIPAL ===== */
.panel-container {
  text-align: center;
  margin-top: 60px;
}

.panel-container h2 {
  font-size: 1.5rem;
  margin-bottom: 40px;
  color: #fff;
  font-weight: 600;
}

.botones {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.botones button {
  background-color: #6ec8da;
  color: #000;
  border: none;
  padding: 12px 28px;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.botones button:hover {
  background-color: #9adbe6;
  transform: scale(1.05);
}

/* ===== Responsivo ===== */
@media (max-width: 600px) {
  .botones {
    flex-direction: column;
    gap: 20px;
  }

  .menu a {
    margin-left: 12px;
    font-size: 13px;
  }
}
